$primary-color: #0f1b4c;
$secondary-color: #5a6473;

$header-bg: #e6f0ff;
// $clients-bg: #ffffff;
// $guides-bg: #ffffff;
$featured-bg: #f5fafe;
$subscription-bg: #063183;
$footer-social-bg: #f9f9f9;
$footer-social-hover-bg: #ebebeb;

$white: #ffffff;
$black: #000000;
