$color-focus: #007bff;
$color-text: #333;

$primary-color: #0f1b4c;
$header-bg: #e6f0ff;
// $clients-bg: #ffffff;
// $guides-bg: #ffffff;
$featured-bg: #f5fafe;
$subscription-bg: #063183;
$footer-social-bg: #f9f9f9;
$footer-social-hover-bg: #ebebeb;
$white: #ffffff;
$black: #000000;
$gray: #7a7a7e;
$light-gray: #c2c2c2;

$link-blue: #0689ff;

$font-size-hero: 1.8rem;
