@use '../abstracts/' as abs;
.container {
  width: 1110px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: block;
  width: 107px;
  height: 24px;
}

.btn {
  // layout
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  // typography
  color: abs.$white;
  font-size: 1.4rem;
  font-weight: 500;
  // style
  border-radius: 12px;
  background: abs.$primary-color;
  // behavior
  transition: opacity 0.3s ease;
  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}
