@use '../abstracts' as abs;

%typography {
  color: #4f5361;
  font-size: 1.4rem;
  font-weight: 500;
}

.header {
  padding-top: 38px;
  padding-bottom: 16px;
  background: abs.$header-bg;

  &--sticky {
    position: sticky;
    top: -22px;
    z-index: 1;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    flex: 1;
    align-items: center;

    &-list {
      display: flex;
      margin-left: 50px;
    }

    &-link {
      padding: 8px 14px;
      @extend %typography;
    }

    &-actions {
      margin-left: auto;
      @extend %typography;
    }

    &-in {
      padding: 8px 18px;
      color: abs.$primary-color;
    }

    &-up {
      min-width: 98px;
      height: 40px;
      border-radius: 8px;
    }
  }
}
