@use '../abstracts' as abs;

.hero {
  position: relative;
  height: calc(100vh - 94px);
  background-color: abs.$header-bg;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 52%;
    height: 100%;
  }

  &__subtitle {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.18rem;
  }

  &__title {
    margin-top: 8px;
    // typography
    color: #000336;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.1875;
  }

  &__description {
    margin-top: 30px;
    // typography
    color: abs.$secondary-color;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77778;
    text-transform: capitalize;
  }

  &__cta {
    min-width: 170px;
    margin-top: 40px;
    font-size: 1.3rem;
  }

  &__image {
    position: absolute;
    right: calc((100vw - 1110px) * 0.3);
    bottom: 0;
  }
}
